<div class="cart" data-cart-view="data-cart-view">
  <form action="/cart" method="post">

    <div class="cart__header">
      <h1>{{ 'cart.header1' | t }}</h1>
    </div>

    <div class="cart__main">

      <div class="cart__empty" rv-unless="cart.item_count | gt 0">
        <div>{{ 'cart.empty' | t }}</div>
      </div>

      <div class="cart-items" rv-if="cart.item_count | gt 0">
        <div class="cart__table-header">
          <div class="grid small-hidden">
            <div class="grid__item grid__item--tablet-landscape-4">
              Added Items
            </div>
            <div class="grid__item grid__item--tablet-landscape-3 center">
              Color
            </div>
            <div class="grid__item grid__item--tablet-landscape-3 center">
              Quantity
            </div>
            <div class="grid__item grid__item--tablet-landscape-2">
              Total
            </div>
          </div>
        </div>

        <div class="cart-item grid small-hidden" rv-each-item="cart.items">

          <div class="grid__item grid__item--tablet-landscape-4">

            <div class="cart-item-info">
              <div class="cart-item-img">
                <img rv-src="item.image | product_image_size 'large'" rv-alt="item.title">
              </div>

              <div class="cart-item-meta">
                <div class="cart-item__product-title" rv-text="item.product_title | lower | removeColorOption"></div>
                <div class="cart-item__size">Size: <span rv-text="item.variant_options.1"></span></div>

                <ul class="cart-item-properties" rv-if="item.properties.is-sale">
                  <li><span>{item.properties.is-sale}</span></li>
                </ul>
              </div>
            </div>

          </div>

          <div class="grid__item grid__item--tablet-landscape-3">
             <div class="center cart-item__color" rv-text="item.variant_options.0"></div>
          </div>

          <div class="grid__item grid__item--tablet-landscape-3 center">

            <div class="cart-item__quantity">
              <span class="qty-btn" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1">&#150;</span>
              <span class="" rv-text="item.quantity"></span>
              <span class="qty-btn" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1">&#43;</span>
            </div>

          </div>

          <div class="grid__item grid__item--tablet-landscape-2">

            <div class="cart-item__price-column">

              <div class="cart-item__price" rv-if="item.properties.compare_at_price">
                <div class="original" rv-text="item.properties.compare_at_price | money Currency.currentCurrency"></div>
                <div class="final" rv-text="item.line_price | money Currency.currentCurrency"></div>
              </div>

              <div class="cart-item__price" rv-unless="item.properties.compare_at_price">
                <div rv-text="item.line_price | money Currency.currentCurrency"></div>
              </div>

              <div class="cart-item__remove" rv-data-cart-remove="index | plus 1"></div>
            </div>

          </div>

        </div>

        <div class="cart-item large-hidden" rv-each-item="cart.items">

          <div class="cart-item-info">

            <div class="cart-item-img">
              <img rv-src="item.image | product_image_size 'large'" rv-alt="item.title">
            </div>

            <div class="cart-item-meta">

              <div class="cart-item__product-title" rv-text="item.product_title | lower | removeColorOption"></div>
              <div class="cart-item__size">Size: <span rv-text="item.variant_options.1"></span></div>

              <ul class="cart-item-properties" rv-if="item.properties.is-sale">
                <li><span>{item.properties.is-sale}</span></li>
              </ul>

              <div class="grid cart-item-mobile-grid">

                <div class="grid__item">
                  <div class="cart-item__color" rv-text="item.variant_options.0"></div>

                  <div class="cart-item__quantity">
                    <span class="qty-btn" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | minus 1">&#150;</span>
                    <span class="" rv-text="item.quantity"></span>
                    <span class="qty-btn" rv-data-cart-update="index | plus 1" rv-data-cart-quantity="item.quantity | plus 1">&#43;</span>
                  </div>
                </div>

                <div class="cart-item__price-column grid__item">
                  <div class="cart-item__price" rv-if="item.properties.compare_at_price">
                    <div class="original" rv-text="item.properties.compare_at_price | money Currency.currentCurrency"></div>
                    <div class="final" rv-text="item.line_price | money Currency.currentCurrency"></div>
                  </div>

                  <div class="cart-item__price" rv-unless="item.properties.compare_at_price">
                    <div rv-text="item.line_price | money Currency.currentCurrency"></div>
                  </div>

                  <div class="cart-item__remove" rv-data-cart-remove="index | plus 1"></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cart__footer" rv-if="cart.item_count | gt 0">

        <div class="grid">

          <div class="cart__promotion-code grid__item grid__item--tablet-landscape-4 grid__item--12">
            <a class="cart__continue-shopping" href="/collections/new-arrivals">&lt;&nbsp;&nbsp;&nbsp;&nbsp;Continue Shopping</a>
          </div>

          <div class="grid__item grid__item--tablet-landscape-4"></div>

          <div class="cart__item--checkout grid__item grid__item--tablet-landscape-4 grid__item--12">
            <div class="grid subtotal">
              <div class="grid__item grid__item label">
                Subtotal:
              </div>
              <div class="grid__item grid__item price" rv-text="cart.total_price | money Currency.currentCurrency"></div>
            </div>
            <div class="helper-text">Excludes Tax & Shipping</div>
            <div class="promo-text">Promo codes can be applied at checkout.</div>
            <button type="submit" name="checkout" class="button  button--full  button--primary">{{ 'cart.checkout' | t }}</button>
          </div>

        </div>

      </div>

    </div>

  </form>

</div>
