<div class="account-form">

    <legend class="account__title">{{ "accounts.sign_up_title" | t }}</legend>
      <p>Already have an account? <a href="/account/login">Log in.</a>
    {% include 'customer-fields' %}

</div>
