{% comment %}
    Mini cart
{% endcomment %}
{% include 'mini-cart-template' %}

{% comment %}
    Mini cart drawer
{% endcomment %}
<div class="mini-cart__drawer  js-header-offset" data-toggle='{"togglesClass": "mini-cart--toggled", "allowEscToggle": true}'></div>
