<div class=" size-guide">

    <div class="size-guide__close" data-toggle='{"togglesClass": "size-guide--toggled", "allowEscToggle": true}'></div>

    <div class="size-guide__inner">

        <div class="size-guide__title">{{ 'product.size_guide_popup_title' | t }}</div>

        <div class="size-guide__pg-content">
            {{ pages[settings.size_guide_page].content }}
        </div>

    </div>

</div>

<div class="size-guide__overlay" role="presentation" data-toggle='{"togglesClass": "size-guide--toggled", "allowEscToggle": true}'></div>
