{% comment %}
    Show 404 message.
    TODO: Need a class for page messages like this.
{% endcomment %}
<div>
    <h1></h1>
    <a href="{{ '404.go_back_url' | t }}"> <img src="https://cdn.shopify.com/s/files/1/1148/2032/files/404ERROR.jpg" ></a>
</div>

<!-- Begin Transportr -->
{% include 'transportr' %}
<!-- End Transportr -->
