{% comment %}
    NOTE: Temporary solution for page templates on a non-live theme.
    TODO: When this theme is pushed live, remove conditionals below.
{% endcomment %}
{% if page.handle == "about" %}
    {% section "about" %}
{% elsif page.handle == "shipping-returns" or page.handle == "faq" or page.handle == "privacy-policy" or page.handle == "careers" or page.handle == "contact-us" %}
    {% include "cs-pages" %}
{% else %}

    <div class="static-page">
        <h1 class="static-page__title">{{ page.title }}</h1>
    </div>

{% endif %}
